//
//  Release.xcconfig
//  Weatherbly
//
//  Created by Khai on 7/4/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"

// Signing
CODE_SIGN_IDENTITY = Apple Distribution: Sung June Park (M9YVZ9AJMM)

// Provisioning
PROVISIONING_PROFILE = Weathervely_FCM_241104

// 앱 이름
INFOPLIST_KEY_CFBundleDisplayName = 웨더블리
