<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813701658825-50k6e856r8q6q7s1ds0l59l8161qgr6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813701658825-50k6e856r8q6q7s1ds0l59l8161qgr6p</string>
	<key>API_KEY</key>
	<string>AIzaSyCV_2nIktvoP1TfpFzTY_lQf16hmyJXLvI</string>
	<key>GCM_SENDER_ID</key>
	<string>813701658825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redthree.weathervely</string>
	<key>PROJECT_ID</key>
	<string>weathervely-82951</string>
	<key>STORAGE_BUCKET</key>
	<string>weathervely-82951.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813701658825:ios:40868b789050292febb518</string>
</dict>
</plist>