<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<string>true</string>
	<key>CFBundleDisplayName</key>
	<string>$(BUNDLE_DISPLAY_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(BUNLDE_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(BUILD_NUMBER)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<string>NO</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>KAKAO_APP_KEY_NATIVE</key>
	<string>$(KAKAO_APP_KEY_NATIVE)</string>
	<key>KAKAO_APP_KEY_REST</key>
	<string>$(KAKAO_APP_KEY_REST)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>위치 정보를 기반으로 정확한 날씨 정보를 제공해요</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>위치 정보를 기반으로 정확한 날씨 정보를 제공해요</string>
	<key>RELEASE_SERVER_URL</key>
	<string>https://$(RELEASE_SERVER_URL)</string>
	<key>TEST_SERVER_URL</key>
	<string>http://$(TEST_SERVER_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>AppleSDGothicNeoB.ttf</string>
		<string>AppleSDGothicNeoEB.ttf</string>
		<string>AppleSDGothicNeoH.ttf</string>
		<string>AppleSDGothicNeoL.ttf</string>
		<string>AppleSDGothicNeoM.ttf</string>
		<string>AppleSDGothicNeoR.ttf</string>
		<string>AppleSDGothicNeoSB.ttf</string>
		<string>AppleSDGothicNeoT.ttf</string>
		<string>AppleSDGothicNeoUL.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
